<div class="container">
  <div class="row">
    <a [routerLink]="['/reports/returnedunits'] ">
      <div class="col-xs-12 col-sm-4 ">
        <div class="report-block report-block-reports fade-in two ">
          <div class="summary-background ">
            <i class="fa fa-retweet  fa-5x" aria-hidden="true"></i>
          </div>
          <div class="summary-body">
            <div class="summary-line1">
              Units Returned
            </div>
            <div class="summary-line2">
            </div>
          </div>
          <div class="summary-footer">
            <a href="returnedunits.html">
                                    Units Returned
                                    <i class="glyphicon glyphicon-chevron-right pull-right"></i>
                                </a>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="row">

  </div>
</div>
<router-outlet></router-outlet>